<div class="card-right-body">
    <div class="card-rb-1">
        <img src="https://rvs-article-preview-component.netlify.app/images/avatar-michelle.jpg" alt="">
    </div>
    <div class="card-rb-2">
        <div class="card-rb-2-title fw-7">Michelle Appleton</div>
        <div class="card-rb-2-text fw-5">28 Jun 2020</div>
    </div>
    <div class="card-rb-3">
        <div class="card-rb-3-inner"></div>
        <div class="card-rb-3-inner-before">
            <div class="before-1">SHARE</div>
        </div>
    </div>
</div>