<div class="card-right-body">
    <div class="card-rb-1">
        <img src="<%= post.user.profilePicture %>" alt="">
    </div>
    <div class="card-rb-2">
        <div class="card-rb-2-title fw-7"><%= post.user.name %></div>
        <div class="card-rb-2-text fw-5"><%= post.datePosted %></div>
    </div>
    <div class="card-rb-3">
        <div class="card-rb-3-inner"></div>
        <div class="card-rb-3-inner-before">
            <div class="before-1">SHARE</div>
        </div>
    </div>
</div>